<!DOCTYPE html>
<html>
    <head>
        <title>Gaharu Residence-VR</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/css/main.css">
        <script src="https://code.jquery.com/jquery-git2.min.js"></script>
	1
		</head>
    <body>


    <div class="container">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheet/css/landing.css">
<div class="container">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
 				<h1>Gaharu Residence-VR</h1>
 				<h3>Improve your experience with Virtual Reality at Gaharu Residence</h3>
 				<hr>
 				<a href="/HomeGaharu" class="btn btn-default btn-lg"><i class="fa fa-tree"></i> Get Started!</a>
 			</div>
 		</div>
 	</div>
 </div>
 
 <script src="/stylesheet/css/background.js"></script>

</div>
</body>
</html>